.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

.h1 {
  font-size: 3.5rem;
  color: #4c545d; }

.h2 {
  font-size: 2.8rem;
  color: #4c545d; }

.h3 {
  font-size: 2.5rem;
  color: #4c545d; }

.h4 {
  color: #4c545d; }

.paragraph {
  font-family: inherit;
  color: #9fabb2;
  line-height: 1.5; }

.paragraph--md {
  font-size: 1.8rem; }

.paragraph--sm {
  font-size: 1.6rem; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mt-sm {
  margin-top: 2rem; }

.mt-md {
  margin-top: 3rem; }

.mt-lg {
  margin-top: 4rem; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

img {
  width: 100%; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.8rem;
  font-family: "Bai Jamjuree", sans-serif; }

.container {
  width: 90%;
  margin: 0 auto; }

.header {
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  text-align: center; }
  .header__logo {
    width: 9rem;
    height: 9rem;
    display: inline-block;
    margin: 8rem auto; }
  .header__h1, .header__paragraph,
  .header .btn {
    margin-bottom: 2.5rem; }
  .header__paragraph {
    max-width: 70rem;
    margin: 0 auto 2rem auto; }

@media (min-width: 800px) {
  .header .btn {
    margin-right: 3rem; } }

.footer {
  padding: 5rem 0;
  background-color: #f1f1f1;
  text-align: center; }
  .footer__logo {
    width: 6rem;
    height: 6rem;
    display: inline-block;
    margin: 5rem auto; }
  .footer__nav {
    list-style-type: none;
    margin-bottom: 2rem; }
  .footer__item {
    margin-bottom: 3.5rem; }
  .footer__link {
    color: #4c545d;
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.2s; }
    .footer__link:hover {
      color: #888; }

.social {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
  list-style-type: none; }
  .social__link {
    text-decoration: none; }
    .social__link img {
      width: 3rem;
      height: 3rem; }

@media (min-width: 800px) {
  .footer {
    padding: 10rem 0; }
    .footer-box {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .footer__logo {
      flex: 0;
      margin: 0; }
    .footer__nav {
      flex: 2;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 2rem; }
    .footer__item {
      margin-bottom: 0; }
  .social {
    flex: 0;
    width: 50rem; }
    .social__item {
      margin-left: 1.5rem; } }

.btn:link, .btn:visited {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 1.8rem 8rem;
  border-radius: 10rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s; }

.btn--primary {
  background-color: #26baa4; }
  .btn--primary:hover {
    box-shadow: 0 2rem 4rem rgba(38, 186, 164, 0.4); }

.btn--secondary {
  background-color: blueviolet; }
  .btn--secondary:hover {
    box-shadow: 0 2rem 4rem rgba(138, 43, 226, 0.4); }

.btn:hover, .btn:active {
  transform: translateY(-0.3rem); }

.section-one {
  text-align: center;
  margin: 5rem 0; }
  .section-one__img {
    margin: 7rem 0; }
  .section-one .h3 {
    margin-bottom: 2rem; }
  .section-one .article:not(:last-of-type) {
    margin-bottom: 2rem; }

.section-two {
  text-align: center;
  margin: 5rem 0; }
  .section-two__img {
    margin: 7rem 0; }
  .section-two .h3 {
    margin-bottom: 2rem; }

.section-three {
  text-align: center;
  margin: 5rem 0; }
  .section-three .h3,
  .section-three .paragraph {
    margin-bottom: 2rem; }
  .section-three .article {
    margin-top: 4rem; }
    .section-three .article:not(:last-of-type),
    .section-three .article .h4, .section-three .article__icon {
      margin-bottom: 2rem; }
    .section-three .article__icon {
      width: 4rem;
      height: 4rem; }

.section-four {
  margin: 5rem 0; }
  .section-four__logo {
    display: block;
    width: 40%;
    margin: 7rem auto; }

.section-five {
  text-align: center;
  margin: 5rem 0; }
  .section-five .h3,
  .section-five .paragraph,
  .section-five .btn {
    margin-bottom: 2rem; }

@media (min-width: 800px) {
  .section-one .paragraph {
    max-width: 90rem;
    margin: 0 auto; }
  .section-one__flex-content {
    display: flex;
    align-items: center; }
  .section-one img {
    width: 50%; }
  .section-one__articles {
    text-align: left;
    width: 30%;
    margin-left: 10%; }
  .section-one .container {
    width: 100%; }
  .section-two .paragraph {
    max-width: 70rem;
    margin: 0 auto; }
  .section-two img {
    width: 60%; }
  .section-three__articles {
    display: flex;
    justify-content: space-between; }
  .section-three .article {
    width: 100%; }
  .section-four__logos {
    display: flex;
    justify-content: space-between; }
  .section-four__logo {
    width: 10%; }
  .section-five .paragraph {
    max-width: 70rem;
    margin: 2rem auto; }
  .section-five .btn {
    margin-right: 2rem; } }
