$color-strong-cyan: hsl(171, 66%, 44%);
$color-light-blue: hsl(233, 100%, 69%);
$color-dark-grayish-blue: hsl(210, 10%, 33%);
$color-graish-blue: hsl(201, 11%, 66%);
$color-light-gray: #f1f1f1;
$color-dark-gray: #888;
$color-blue-violet: blueviolet;

$font-primary: "Bai Jamjuree", sans-serif;
