.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}

.h1 {
    font-size: 3.5rem;
    color: $color-dark-grayish-blue;
}

.h2 {
    font-size: 2.8rem;
    color: $color-dark-grayish-blue;
}

.h3 {
    font-size: 2.5rem;
    color: $color-dark-grayish-blue;
}

.h4 {
    color: $color-dark-grayish-blue;
}

.paragraph {
    font-family: inherit;
    color: $color-graish-blue;
    line-height: 1.5;
}

.paragraph--md {
    font-size: 1.8rem;
}

.paragraph--sm {
    font-size: 1.6rem;
}

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}
