.footer {
    padding: 5rem 0;
    background-color: $color-light-gray;
    text-align: center;

    &__logo {
        width: 6rem;
        height: 6rem;
        display: inline-block;
        margin: 5rem auto;
    }

    &__nav {
        list-style-type: none;
        margin-bottom: 2rem;
    }

    &__item {
        margin-bottom: 3.5rem;
    }

    &__link {
        color: $color-dark-grayish-blue;
        font-size: 2rem;
        text-decoration: none;
        transition: all 0.2s;
        &:hover {
            color: $color-dark-gray;
        }
    }
}

.social {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
    list-style-type: none;

    &__link {
        text-decoration: none;

        img {
            width: 3rem;
            height: 3rem;
        }
    }
}

@media (min-width: 800px) {
    .footer {
        padding: 10rem 0;
        &-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__logo {
            flex: 0;
            margin: 0;
        }

        &__nav {
            flex: 2;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 2rem;
        }

        &__item {
            margin-bottom: 0;
        }
    }

    .social {
        flex: 0;
        width: 50rem;

        &__item {
            margin-left: 1.5rem;
        }
    }
}
