.header {
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    text-align: center;

    &__logo {
        width: 9rem;
        height: 9rem;
        display: inline-block;
        margin: 8rem auto;
    }

    &__h1,
    &__paragraph,
    .btn {
        margin-bottom: 2.5rem;
    }

    &__paragraph {
        max-width: 70rem;
        margin: 0 auto 2rem auto;
    }
}

@media (min-width: 800px) {
    .header .btn {
        margin-right: 3rem;
    }
}
